body {
    background-image: linear-gradient(to bottom right, rgb(182, 213, 242), rgb(224, 228, 181));
    padding: 2rem;
}

h1,
h2 {
    text-align: center;
}

ul li {
    list-style-type: none;
}

li {
    padding: 0.5rem;
}

.home-list {
    text-align: center;
   
}

img {
    height: auto;
    width: 300px;
    float: right;
    border-radius: 50%;
    margin-right: 2rem;
}